<p>
  Oh no! It looks like you may have entered a bad URL.
</p>

<p>
  Check out your <%= link_to("locations", business_locations_path(@business)) %> and <%= link_to("playlists", business_playlists_path(@business)) %>
</p>
