<h1><%= @business.name %>'s Music</h1>
<div class = "container">
  <% @playlists.each do |playlist| %>
    <h3><%=link_to(playlist.name, business_playlist_path(@business, playlist))%></h3>
  <% end %>
</div>
</ul>
