<h1><%= @location.name %></h1>
<h2>Schedule your playlists here:</h2>

<%= form_for ([@location, @playlist]) do |f| %>
<h3>6am - 9am</h3>
<%= f.collection_select(:playlist_ids, Playlist.all, :id, :name) %>
<h3>9am - 12noon</h3>

<h3>12noon - 3pm</h3>

<h3>3pm - 6pm</h3>

<h3>6pm - 9pm</h3>
<%= f.submit %>
<%end%>
